# Data and Databases
* Modern applications create a lot of data.
* In simple words, data is some raw information that has been collected or created and it can be of any type such as numeric, words, digital, and more.
* All these data have to be stored and processed in such a way that one can access them anytime.
* This data is stored in a database.
* A database is a systematic collection of data or in simple words, it is an organized collection of data.
* It is a collection of information that is organized so that it can easily be accessed, managed, and updated.

## Relational Database
* Databases play a major role in the development of an application. As we know, databases help us to store, access, and manipulate data.
* We can categorize databases into various categories based on how they store and process data. One of the most common types of database is the Relational database.
* **A relational database stores the data in the form of tables**.
* **A table is a collection of related data entries where the data is stored in rows and columns.**
* **You can visualize it just like a spreadsheet.**

## RDMS
* Let's talk about something called **Database Management System (DBMS).It is a collection of programs that enable the users to access databases, manipulate data, report and represent data, and also control access to the database.**
* Hence, a relational database is often referred to as a Relational Database Management System (RDBMS). It is one of the most popular DBMS in the industry.
* To work with relational database systems, we use something called SQL.**SQL is the standard language for relational database systems.**

## SQL
* Structured Query Language, commonly known as SQL, is a standard programming language for relational databases.
* It helps in storing, manipulating, and retrieving data stored in a relational database.
* Using SQL, you can query, update, and reorganize data, as well as create and modify the schema (structure) of a database system and control access to its data.

## MySQL
* As we have seen, SQL is the standard language for relational database systems.
* But, there are different versions of the SQL language.Some of the examples are MySQL, MS Access, Oracle, Sybase, Informix, Postgres, SQL Server, and more which depend on SQL and use it as the base.
* MySQL is one such version of SQL that we will be using throughout this section to work with Python.
* **MySQL is a freely available open-source Relational Database Management System (RDBMS) that uses Structured Query Language (SQL).**
* **It is one of the best RDBMS being used for developing various web-based software applications.**
* **MySQL is compatible with all the major operating systems and works pretty well with major programming languages such as Java, Python, PHP, C++, and more.**
* Thus, let's move ahead and install MySQL and learn the basic concepts of MySQL before we learn how to work with it in Python.

## Basic Termilogies
* Before we move ahead and work with MySQL, let's have a look at some basic terminologies that you should know while working with an RDBMS.
* Data in an RDBMS is stored in database objects which are called tables.
* This table is basically a collection of related data entries and it consists of numerous columns and rows. Following are some related terminologies,
* **Field** - Every table is broken up into smaller entities called fields.
* **Record** - A record, also called a row of data, is each individual entry that exists in a table.
* **Column** - A column is a vertical entity in a table that contains all information associated with a specific field in a table.
* **NULL Value** - A NULL value in a table is a value in a field that appears to be blank, which means a field with a NULL value is a field with no value.
* **Primary Key** - A primary key helps us to uniquely identify a row in the table. A key value can not occur twice in one table.
* **Foreign Key** - A foreign key acts like a link between two tables.

# Basic of MySQL
**Data Types in MySQL**
* We know that in Python, data types define the type of data that will be stored in a variable.
* Similarly, MySQL defines a set of data types that helps to store and work with different types of data in the database.
* Following are some of the commonly used data types in MySQL,
* **INT** - It is a normal-sized integer. We can specify a width of up to 11 digits. It requires 4 bytes for storage.
* **FLOAT(m,d)** - It is a floating-point number. You can define the display length (m) and the number of decimals (d).This is not required and will default to 10,2, where 2 is the number of decimals, and 10 is the total number of digits (including decimals).
* **BOOL** - It is used only for true and false conditions. It considers numeric value 1 as true and O as false.
* **CHAR(size)** - It can have a maximum size of 255 characters. Here size is the number of characters to store.
* **VARCHAR(size)** - It can have a maximum size of 255 characters. Here size is the number of characters to store. Variable-length string.
* MySQL defines many different categories of data and their types.
* The above are the few that we will be commonly using.

## Creating a Database
* Now, let's create our first database in MySQL and learn how to use it.
* Often, the very first step will be to create a database.
* To create a database in MySQL we can use the CREATE DATABASE statement, below is the syntax for the same,
* **`CREATE DATABASE database_name;`**
* Here, database_name is the name of a new database that should be unique in the MySQL
* Also, every statement in MySQL should terminate with a semicolon.
* Now open up your MySQL command-line client and enter your password to access the MySQL shell.
* Once you are into the shell, hit the below command to create a database named 'pythonx'.
* **`CREATE DATABASE pythonx;`**
* `Output`
* `Query OK, 1 row affected`

## Working with Database
* Once you have created the database, you can create various tables in it and start filling in the data.
* In the previous screen, we had created a new database named 'pythonx'.
* Below is the command that will return all the databases available in your system, you should be able to find the pythonx database in there,
* **`SHOW DATABASES;`**
* `Output`
* `information_schema`
* `mysql`
* `performance_schema`
* `test`
* `pythonx`

* Once the database is ready, before you actually start using it, you need to tell your system which database you wish to execute the upcoming operations.
* Thus, we can use the USE statement to access the database that enables us to create a table and other database objects. Below is the syntax for the same,
* **`USE database_name;`**
* Here, database_name is the name of a database that you wish to use
* Let's use our 'pythonx' database and learn how we can create tables and add and fetch data from the tables.
* Hit the below command to access the pythonx database,
* **`USE pythonx;`**
* `Output`
* `Database changed`

* There are situations where you would need to delete a database.
* We have seen how we can create a new database.
* Similarly, we can delete a database using the DROP statement. Below is the syntax for the same,
* **`DROP DATABASE database_name;`**
* Here, database_name is the name of a database that you wish to delete/remove
* It will delete the database along with all the tables, indexes, and constraints permanently.
* Therefore, we should be careful while removing the database in MySQL because you will lose all the data available in the database.

## Creating Tables
* A table is used to organize data in the form of rows and columns and used for both storying and displaying records in the structured format.
* Once our database is ready, we can execute the USE statement on it so that the system knows which database we wish to perform the operations on.
* As of now, our 'pythonx' database is empty. Let's create a table called 'user' in it.
* We can create a table in MySQL using the CREATE TABLE command. Following is the syntax to create a table,
* **`CREATE TABLE table_name(columnName1 data_type, column Name2 data_type, ...);`**
* Here, As we know, CREATE TABLE is the command used to create a table in MySQL
* table_name is the name given to the table
* The elements of the table are defined in the parentheses. columnName1 data_type is the column definition, where data_type defines the type of data that will be stored in the column.
* Now, let's create a user table in our 'pythonx' database with the following constraints,
* userld
* username
* email
* userType
* Here, we will make the constraint userld as the PRIMARY KEY. The PRIMARY KEY constraint uniquely identifies each record in a table.
* Primary keys must contain UNIQUE values, and cannot contain NULL values. Also, a table can have only one PRIMARY KEY,
* Following is the command to create a 'user' table,
* **`CREATE TABLE user (userld int PRIMARY KEY, username varchar(10), email varchar(25), userType varchar(10));`**
* *`Output`*
* *`Query OK, 1 row affected`*
* Since we need the userld to be unique for each record in the table, we define it as the PRIMARY KEY.

## Working with Tables
* Just like we have a SHOW DATABASES command which returns the databases in our system, similarly, we can use the SHOW TABLES command to fetch the available tables in a particular database.
* **`SHOW TABLES;`**
* *`Output`*
* *`Tables_in_pythonx`*
* *`user`*
* Similarly, we can use the below command to delete a table from a database,
* **`DROP TABLE table_name;`**
* Where table_name is the name of the table you wish to delete.

## Fetching Data
* Once we have created the table, we can fetch the data from the table using the SELECT command.
* The SELECT command is used to fetch data from one or more tables. There are different ways of using the SELECT command.
* Following is the most generic syntax of a SELECT statement,
* **`SELECT fieldName1, fieldName2,... fieldNameN`**
* **`FROM tableName1, tableName2...`**
* **`[WHERE condition]`**
* **`[GROUP BY field_name(s)]`**
* **`[HAVING condition]`**
* **`[ORDER BY field_name(s)];`**
* Here,
* **`SELECT fieldName 1, fieldName2,... fieldNameN FROM tableName1, tableName2...`**
* is the mandatory part of the SELECT command
* All the other constraints are optional and are used to manipulate and filter the records according to the given condition (We will learn a few of them in the upcoming screens).
* Note that, if we want to fetch the data of the whole table, we can use the following syntax,
* **`SELECT * FROM tableName;`**
#* Let's fetch the data from the user table. Hit the following command to get all records from the whole table,
* **`SELECT * FROM user;`**
* `Output`
* `Empty set`
* As we know, our table is empty at the moment therefore that's what is returned by the SELECT command.
* Let's move ahead and add data to our table, and then we will try to fetch the data again.

## Inserting Data
* We know how to create a table and fetch values from it.
* Now, let's look at how we can insert values into our table and populate it with some data.
* We can use the INSERT statement to store or add data in the MySQL table within the database.
* Following is the syntax of the INSERT statement,
* **`INSERT INTO table_name VALUES(fieldName1, fieldName2,... fieldNameN);`**
* Remember that, we need to pass all the constraints that we had mentioned while creating the table.

## Inserting values
* Now let's insert data into our user table. We can do that using the following command,
* **`INSERT INTO user VALUES (1526, "John", "john@example.com", "PRO");`**
* *Output*
* *Query OK, 1 row affected*
* **`Note that the varchar values are just like strings and thus have to be enclosed in double-quotes.`**
* Let's add some more data,
* **`INSERT INTO user VALUES (6745, "Smith", "smith@example.com", "REGULAR");`**
* *`Output`*
* *`Query OK, 1 row affected`*

## Fetching Data
* Now that we have inserted data into our user table, let's fetch it using the SELECT command in the following way,
1) Fetch all data
* **`SELECT * FROM user;`**
2) Fetching particular columns
* **`SELECT userID, userType FROM user;`**

## WHERE Clause
* We have seen in the syntax of the SELECT command that there are some optional constraints that we can use.
* We will be learning one of those optional constraints called the WHERE clause.
* WHERE clause is used to perform operations by filtering the results.
* It specifies a specific position where you have to do the operation based on some condition.
* Following is the syntax of the WHERE clause,
* **`WHERE some_condition;`**
* Let's use the WHERE clause to fetch the data of only the users who have the PRO subscription. Following is the command for the same,
* **`SELECT * FROM user WHERE userType = "PRO";`**

# Database Connection
#**Connector**
* But, before we move ahead to work with MySQL using Python, we will first need to connect our Python application with the MySQL database.
* We can do that with the help of the MySQL connector.
* MySQL Connector is a driver for connecting to a MySQL database server through the Open Database Connectivity (ODBC) application program interface (API), which is the standard means of connecting to any database.
* MySQL provides various database connectors. Since we want to work with Python, we will use the Python Driver for MySQL which is a Python connector.
#**mysql.connector**
* We can connect our Python application with the MySQL database using a Python module named mysql.connector.
* It is a third-party module that allows us to interact with the MySQL database.
* Since it is not a built-in module, we will need to install it before using it.
* We have seen in the 'Modules' subject how to install a third-party module in Python.
* Hit the following command in your command- line to install mysql.connector,
* **`pip install mysql-connector`**

## Creating Connection
* Once we have installed mysql.connector successfully, we can create a connection between the application and the database.
* To do that, we can use the connect() method of the mysql-connector module.
* Following is the syntax in order to use the connect() method,
* **`databaseObject = mysql.connector.connect(host = <host-name>, user = <username>, passwd = <password>)`**
* Here, databaseObject is the database variable that â€¢ we create to make the connection. We will use this object for further database interaction.
* mysql.connector.connect() is how we make the call to the connect() method.It takes three parameters to create a database connection. The first one is the name of the host or the host machine.
* Next are the username and the password of our MySQL that you might have set while installing MySQL in your systems.
* Create a new python file and write the below code to create a database connection,
* **`import mysql.connector`**
* **`myDB = mysql.connector.connect(host = "localhost", user = "root", passwd = "YOUR_PASSWORD")`**
* **`print(myDB)`**
* First, we need to import the module. Then we can create the database object and pass the required values.
* Since we are using MySQL in our local machine, the hostname will be **localhost**. In most of the cases, the default username is **root**
* Finally, pass your MySQL password and print the database object.
* If it produces the following output, this means the connection is successfully established.
* `Output`
* `<mysql.connector.connection. MySQLConnectionobject at 0x7fb142edd780>`

# Creating Database and Tables
* Once we have created the database connection object, the next step is to create the cursor object.
* Cursor objects allow us to execute various MySQL queries and interact with the database.
* We can create the cursor object by calling the 'cursor' function of the connection object.
* The cursor object is an important aspect of executing queries on the databases.
#**Cursor Object**
* Below are the three steps that you need to follow to interact with the database and execute queries,
1) Create the database connection object
2) Create the cursor object
3) Make the call to the execute() method
* Therefore, once we have the cursor object, we can make the call to the execute() method over the cursor object and execute the required query.

## Creating a Database
* Let's create the database 'pythonx' using Python,
* **`import mysql.connector`**
* **`myDB = mysql.connector.connect(host = "localhost", user = "root", passwd = "YOUR_PASSWORD")`**
* **`myCur = myDB.cursor()`**
* **`cur.execute("CREATE DATABASE pythonx")`**
* **`myDB.close()`**
* As you can see in the above code, once our database connection object is created, using the connection object myDB we make the call to the cursor() method and create a cursor object called myCur.
* Then, we make a call to the execute() method that takes the required query as the parameter.
* Finally, it is necessary to close the connection and release the resources, thus we close the connection using myDB.close().
* If you want to check whether the database was created or not, you can go to the MySQL shell and hit the command SHOW DATABASES.
* You should be able to see the new database that we created.
* You can also execute the command SHOW DATABASES using the execute() method as well.
* But one thing to remember is, show databases return the names of all the variable databases, thus in Python, it will be returned as a list.

## Creating Tables
* Just like we did while learning MySQL, the next step after creating a database is to create a table.
* You may have already guessed that we can directly pass the CREATE TABLE command to the execute() method.
* And that's absolutely what we will do, but with a slight change.
* We know that before executing any query, we need to tell MySQL on which database we want to do the operation.
* So, to do that in Python, we will simply add the fourth parameter 'database' to our connect() method and pass the name of the database.
* Therefore, let's create a table 'user' in our newly created 'pythonx' database.
* **`import mysql.connector`**
* **`myDB = mysql.connector.connect(host = "localhost", user = "root", passwd = "YOUR_PASSWORD", database = "pythonx")`**
* **`myCur = myDB.cursor()`**
* **`cur.execute("CREATE TABLE user(userld int PRIMARY KEY, username varchar(10), email varchar(25), userType varchar(10))")`**
* **`myDB.close()`**
* That's it! If you go to the MySQL command-line client and hit the command SHOW TABLES while using the pythonx database, you should be able to see the user table.

# Insert and Fetch Data
* Now, let's insert and fetch some data from the table.
* First, let's look at the most simple way of doing that, and then we will have a look at a few more techniques.
* Let's use the simple INSERT command to insert data into the table and fetch data using the SELECT command.
* **`import mysql.connector`**
* **`myDB = mysql.connector.connect(host = "localhost", user = "root", passwd = "YOUR_PASSWORD", database = "pythonx")`**
* **`myCur = myDB.cursor()`**
* **`cur.execute("INSERT INTO user VALUES (1526, "John", "john@example.com", "PRO")")`**
* **`cur.execute("SELECT * FROM user")`**
* **`result = cur.fetchall()`**
* **`for i in result:`**
* **`print(i)`**
* **`myDB.close()`**
* **Let's understand what we did,**
* We simply executed the INSERT and SELECT commands using the execute() method.
* When we read data from the database using Python, it provides various methods to do that.
* When we fetch the whole table using the SELECT command, we can use the fetchall() method over the cursor object which will fetch all the rows from the table and store them in a tuple.
* Now if you go to your MySQL command line and fetch the data, you will see nothing! Boom!
* Where did the data disappear that we just inserted?
* Whenever we make changes in our database or perform any operation that would manipulate the database, we will need to tell MySQL to save it and reflect the changes in the performed operation on the database.
* We can do that using the **commit() method** as shown below,
* **`import mysql.connector`**
* **`myDB = mysql.connector.connect(host = "localhost", user = "root", passwd = "YOUR_PASSWORD", database = "pythonx")`**
* **`myCur = myDB.cursor()`**
* **`cur.execute("INSERT INTO user VALUES (1526, "John", "john@example.com", "PRO")")`**
* **`myDB.commit()`**
* **`cur.execute("SELECT * FROM user")`**
* **`result = cur.fetchall()`**
* **`for i in result:`**
* **`print(i)`**
* **`myDB.close()`**
* `Output`
* `(1526, "John", "john@example.com", "PRO")`
#**Some methods**
* Similarly, we can use any MySQL command using the execute() statement and manipulate using our Python knowledge.
* Now let's look at some of the other important Python database methods that you should know,
* **fetchone()** - It fetches the next row of a query result set. A result set is an object that is returned when a cursor object is used to query a table.
* **fetchall()** - It fetches all the rows in a result set. If some rows have already been extracted from the result set, then it retrieves the remaining rows from the result set. It returns each row as an individual tuple.
* **executemany ()** - It works just like execute(), but it is used to execute multiple database queries at a single time. It accepts a list of queries. We can pass a list that can contain the tuple elements of multiple data values that need to be inserted in the table.

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (8.4.0)

In [3]:
# importing required libraries
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
myDB = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "PrathaM2002@",
    database = "pythonx"
)

mycursor = db.cursor() 
print(mydb)